Binwag - PhilippineRedditAgricultureAnalysis/doc2vec_bow_topic1.pkl
Binwag - PhilippineRedditAgricultureAnalysis/doc2vec_bow.pkl
/venv
/myenv
/Activity-LSTM-LanguageModelling/torch-env
PromptingLLMs/belebele_results_gemma3_1b.jsonl
PromptingLLMs/belebele_results_gemma3_1b.jsonl
RAG/.env
/.llamavenv
AutoMap64.zip
/AutoMap64
/PromptingLLMs/.llamavenv
.jsonl
Binwag - PhilippineRedditAgricultureAnalysis/notebook/doc2vec_bow.pkl
*.pdf
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.log
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.synctex(busy)
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.fls
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.fdb_latexmk
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.aux
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.log
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.pdf
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.log
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.aux
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.aux
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.log
Binwag - PhilippineRedditAgricultureAnalysis/IEEE/main.synctex.gz
