Binwag - PhilippineRedditAgricultureAnalysis/doc2vec_bow_topic1.pkl
Binwag - PhilippineRedditAgricultureAnalysis/doc2vec_bow.pkl
/venv
/myenv
/Activity-LSTM-LanguageModelling/torch-env
PromptingLLMs/belebele_results_gemma3_1b.jsonl
PromptingLLMs/belebele_results_gemma3_1b.jsonl
RAG/.env
/.llamavenv
/PromptingLLMs/.llamavenv
.jsonl
